# Core data science and backtesting libraries
pandas
numpy
scikit-optimize
numba
ta
tqdm
psutil
requests
json5
python-dotenv

# Data fetching
ccxt
python-binance

# Plotting and visualization
matplotlib
mplfinance
quantstats
joblib
ipython
plotly

# File watching
watchdog

# GCP Integration
google-cloud-storage