requests
pandas
numpy
scikit-learn
joblib
pyarrow
ta
pytest
json5
ccxt
matplotlib
tqdm
numba
scikit-optimize
imbalanced-learn
# Added for Vercel serverless functions that import binance.client
python-binance
